.home-card {
    border: 2px solid black;
    width: 300px;
    padding: 40px;
    transition: 0.4s;
    font-size: 1.25rem;
    margin-top: 75px;
}

.home-card:hover {
    transform: translateY(-8px);
    border-color: greenyellow;
}

.home-card-body {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.home-card-body button {
    padding: 10px;
}
