.sidebar {
    flex: 0 0 250px;
    text-align: center;
    background-color: orange;
    border: 2px solid lawngreen;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
